@import "tools.css";
/* docs overrides */
.container {
  max-width: 960px !important;
}

a {
  color: #313131;
  text-decoration: none !important;
  :hover {
    text-decoration: none !important;
  }
}

nav a {
  cursor: pointer;
}

.repo-contents {
  width: 100%;
}

.loading {
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100%;
  width: 100%;
  opacity: .7;

  //background-color: #0f0f0f;

  .icon-wrapper {
    width: 50px;
    margin: auto;
    .fab {
      margin-top: 100px;
    }
  }
}

.main-lead {
  padding: 1.5rem 0 1.5rem 0 !important;
  transition: padding 0.5s ease;
}

.main-lead.initial {
  padding: 6rem 0 6rem 0 !important;
}

.blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}